@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap') ;

html {
  height: 100%;
}

body {
  background: #eaf1ef;
  margin: 0;
  padding: 0;
}

* {
  font-family: Outfit , sans-serif;
}

.login-box {
  align-items: center;
  background: #eaf1ef;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 50%;
  padding: 70px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);

}

.user-box {
  background: transparent;
  border: 1px solid  #001813;
  border-radius: 5px;
  box-shadow: 0.1px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgb(31, 29, 29);
  margin-bottom: 30px;
  padding: 5px 5.1px;
  width: 100%;
}

.user-box label {
  align-items: center;
  color: #828282;
  display: flex;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-indent: 20px;
  transition: 0.5s;
}


.btn__submit {
  background: #036b52;
  border-radius: 5px;
  box-shadow: 0.1px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  color: #e8ebea;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 33px;
  margin-bottom: 20px;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn__submit-register {
  background-color: transparent;
  border: 1px solid  #036b52;
  border-radius: 5px;
  box-shadow: 0.1px 1px 1px #036b52;
  color: #036b52;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  line-height: 33px;
  margin-bottom: 20px;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 100%;
}

.btn__submit-invalid {
  color: #878787;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
}
