.details-box table {
  background: #f9fcfb;
  border: 1px solid #b1c2be;
  box-shadow: 0.2px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5%;
  order: none;
  padding: 2%;
  padding-bottom: 5%;
}

.vamov {
  background-color: #b1c2be;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-style: normal;
  justify-content: space-between;
  padding-left: 2%;
  padding-right: 2%;
}

.vamov p {
  margin-right: 10%;
}

.datinha {
  background-color: antiquewhite;
  border-radius: 15px;
  padding: 0.5%;
}

.status {
  background: rgba(0, 204, 155, 0.75);
  border-radius: 15px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 0.5%;
}

.vamov .quartenary {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.details-box {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.vamov button {
  margin-bottom: 5%;
}

.quartenary-det {
  background: #056cf9;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: #f2fffc;
  font-size: 18px;
  font-style: normal;
  line-height: 42px;
}

.status-entregue {
  background: #036b52;
  border-radius: 5px;
  box-shadow: 0.1px 4px 4px #e8ebea;
  box-sizing: border-box;
  color: #e8ebea;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 33px;
  margin: 2% 35% 10%;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 25%;
}

.status-inRota {
  background: #ccb800;
  border-radius: 5px;
  box-shadow: 0.1px 4px 4px #e8ebea;
  box-sizing: border-box;
  color: #e8ebea;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 33px;
  margin: 2% 35% 10%;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 25%;
}

.status-preparando {
  background: #6c0;
  border-radius: 5px;
  box-shadow: 0.1px 4px 4px #e8ebea;
  box-sizing: border-box;
  color: #e8ebea;
  display: flex;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 33px;
  margin: 2% 35% 10%;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 25%;
}
