.header-container {
  background-color: rgb(35, 36, 47);

  /* border: 1px solid red; */
  border-radius: 10px;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 15px 0;
  width: 100%;

}

.header-image {
  align-items: center;

  /* border: 1px solid red; */
  color: aliceblue;
  display: flex;
  font-family: Roboto , sans-serif;
  font-size: 28px;
  font-weight: 600;
  justify-content: space-around;
  width: 250px;
}

.header-image img {
  max-width: 80px;
  width: 40vw;
}

.header-score {
  align-items: center;

  /* border: 1px solid red; */
  color: aliceblue;
  display: flex;
  font-family: Roboto , sans-serif;

  /* font-size: 28; */
  justify-content: center;
  width: 200px;
}

.headerScore {
  font-size: 40px;
}

.header-gravatar {
  border-radius: 50%;
}

@media ( max-width : 520px ) {

  .header-image {
    font-size: 22px;
  }

  .header-image img {
    max-width: 60px;
  }

  .headerScore {
    font-size: 34px;
  }
}

@media ( max-width : 290px ) {

  .header-container {
    height: 50px;
  }
}
