.button {
  align-items: center;
  background: #003be5;
  border-radius: 2px;
  display: flex;
  flex: none;
  flex-direction: row;
  flex-grow: 0;
  gap: 10px;
  height: 40px;
  justify-content: center;
  order: 0;
  padding: 8px 32px;
  width: 115px;
}

