.test {
  background-color: #f9fcfb;
}

.root-checkout {
  background-color: #f9fcfb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
}

.root-checkout table {
  background-color: #f9fcfb;
  border: 1px solid #b1c2be;
  box-shadow: 0.2px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 4% 2%;
}

td {
  padding: 5px;
  text-align: center;
}

.primary {
  background-color: #036b52;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}


.secondary-btn {
  background-color: #2fc18c;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: #f2fffc;
  font-size: 18px;
  font-style: normal;
  line-height: 42px;
}

.secondary {
  background-color: #2fc18c;
  color: #f2fffc;
  font-size: 18px;
  font-style: normal;
  line-height: 42px;
}

.tertiary {
  background-color: #421981;
  color: #f2fffc;
  font-size: 20px;
  font-style: normal;
  line-height: 42px;
}

.quartenary {
  background: #056cf9;
  color: #f2fffc;
  font-size: 18px;
  font-style: normal;
  line-height: 42px;
}

tr {
  border-radius: 50%;
  padding-left: 20%;
  padding-right: 20%;
}

th {
  font-family: Helvetica , Arial , Verdana , Tahoma , sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.remove-item-btn {
  background-color: #2fc18c;
  border: none;
  color: #f2fffc;
  font-family: Helvetica , Arial , Verdana , Tahoma , sans-serif;
  font-size: 20px;
  font-style: normal;
  line-height: 42px;
}

.final-price {
  align-items: baseline;
  background: #036b52;
  border-radius: 15px;
  color: #e8ebea;
  display: flex;
  font-size: 20px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 3px;
  margin-top: 20px;
  overflow: hidden;
  padding: 15px 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 300px;
}

.description {
  background: #b1c2be;
}

html {
  background: #f9fcfb;
}

tbody {
  margin-bottom: 10%;
}

.finesh-btn {
  background: #036b52;
  border-radius: 5px;
  box-shadow: 0.1px 4px 4px #e8ebea;
  box-sizing: border-box;
  color: #e8ebea;
  display: flex;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 33px;
  margin-bottom: 1%;
  margin-left: 35%;
  margin-top: 2%;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 25%;
}

.details-user {
  border: 1px solid #b1c2be;
  box-shadow: 0.1px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2%;
  padding-left: 7%;
  padding-top: 2%;
}

.details-user p {
  margin-left: 10%;
  margin-right: 10%;
}

.details-user select {
  margin-left: 11%;
  margin-right: 2%;
  padding-left: 3%;
  padding-right: 3%;
}

.adress-input {
  margin-right: 2%;
  padding-left: 2%;
  padding-right: 22%;
}

.number-input {
  max-width: 80px;
}
