.products-container {
  align-content: space-between;
  background: #eaf1ef;
  display: flex;
  flex-flow: row wrap;
  height: 80%;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 4%;
}

.element-card {
  align-items: center;
  background: #eaf1ef;
  border: 1px solid #b1c2be;
  border-radius: 15px;
  box-shadow: 0.1px 4px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 0.1px;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 400px;
  max-width: 200px;
  padding-bottom: 5%;
  text-align: center;
  top: 0.2px;
}

.element-card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 198px;
  left: 0.28%;
  right: 0.28%;
  width: 198px;

}

.products-container p {
  align-items: center;
  color: #001718;
  font-style: normal;
  line-height: 28px;
  text-align: center;
}

.element-card input {
  border-radius: 0.1px;
  display: inline-block;
  padding: 5.5px 0.1px;
  position: relative;
  text-align: center;
  width: 15%;

}

.element-card button {
  background: #036b52;
  border-radius: 1px;
  display: inline-block;
  padding: 7.5px 19px;
  position: relative;
}

.carrinho {
  align-items: baseline;
  background: #036b52;
  border-radius: 15px;
  color: #e8ebea;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  justify-content: center;
  letter-spacing: 4px;
  margin-left: 65%;
  margin-top: 20px;
  overflow: hidden;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  width: 350px;
}


.Product {
  background: #eaf1ef;
}
