.title {
  color: black;
  font-family: sans-serif;
  font-size: 36px;
  font-style: medium;
  font-weight: 500;
  line-height: 40px;
  position: flex;
  text-align: center;
}

.container {
  align-items: center;
  background: white;
  border: 1px solid #c4c4c4;
  border-radius: 20px;
  box-sizing: border-box;
  height: 453px;
  justify-content: center;
  left: 35%;
  position: absolute;
  top: 20%;
  width: 343px;

}

.emailInput {
  border: 1px solid #3d6697;
  border-radius: 6px;
  height: 66px;
  left: 58px;
  margin-top: 20px;
  position: flex;
  top: 87px;
  width: 98.5%;
}


.senhaInput {
  align-items: center;
  border: 1px solid #3d6697;
  border-radius: 6px;
  height: 66px;
  justify-content: center;
  left: 58px;
  line-height: 100px;
  margin-top: 30px;
  position: flex;
  width: 98.5%;
}

.buttonInput {
  background: #3d6697;
  border-radius: 20px;
  height: 45px;
  left: 93px;
  position: absolute;
  top: 345px;
  width: 163px;
}

/* form {
  display: flex;

} */
